$L_margin: 3rem;

.container {
  max-width: 60vw;
  padding: 0 1rem;
  margin: $L_margin auto $L_margin * 2;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: $L_margin 0 0;
}

.pointer:hover {
  cursor: pointer;
}
