$L_margin: 3rem;
$M_media_breakpoint_1: 1200px;
$M_media_breakpoint_2: 900px;
$M_media_breakpoint_3: 750px;

.container {
  max-width: 60vw;
  padding: 0 1rem;
  margin: $L_margin auto $L_margin * 2;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: $L_margin 0 0;
}

.pointer:hover {
  cursor: pointer;
}

@media (max-width: $M_media_breakpoint_1) {
  .container {
    max-width: 80vw;
  }
}

@media (max-width: $M_media_breakpoint_2) {
  .container {
    max-width: 90vw;
  }
}

@media (max-width: $M_media_breakpoint_3) {
  .container {
    max-width: 100vw;
  }
}
