$C_title_base: #330033;
$C_title: rgba($C_title_base, 0.87);
$C_title_linefade: rgba($C_title_base, 0.2);
$C_text: #000000;
$F_Arial: Arial, sans-serif;

.page_title {
  font: 2rem $F_Arial;
  text-align: center;
}

.pkmn_container {
  margin-bottom: 15px;
  background-color: rgba(235, 235, 235, 0.9);
  border-radius: 25px;
  padding: 2.5%;
  box-shadow: 5px 5px 5px grey;
}

.pkmn_tag {
  font-family: cursive, fantasy, serif;
  text-align: center;

  span {
    font-size: 2.5rem;
    color: $C_title;
  }
}

.seperator {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  background: linear-gradient(to right, $C_title_linefade, $C_title, $C_title_linefade);
  height: 2px;
  text-align: center;
  border-radius: 50%;
}

.sub_heading {
  @extend .pkmn_tag;
  font-size: 1.25rem;
}

.text_label {
  font: 0.7rem $F_Arial;
  color: rgba($C_text, 0.7);
  padding-right: 1rem;
}

.text {
  font: 1.1rem Times, serif;
}

.text_value {
  @extend .text;
  color: rgba($C_text, 0.87);
}

.list {
  @extend .text;
  padding: 0;

  .list_item {
    margin-bottom: 0.2rem;
    list-style-type: none;
  }
}
