$C_title_base: #330033;
$C_title: rgba($C_title_base, 0.87);
$C_title_linefade: rgba($C_title_base, 0.2);
$C_text: #000000;
$F_Arial: Arial, sans-serif;
$F_Text: 1.1rem Times, serif;

.title_colour {
  color: $C_title;
}

.seperator {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  background: linear-gradient(to right, $C_title_linefade, $C_title, $C_title_linefade);
  height: 2px;
  text-align: center;
  border-radius: 50%;
}

.text_label {
  font: 0.7rem $F_Arial;
  color: rgba($C_text, 0.7);
  padding-right: 1rem;
}

.text_value {
  font: $F_Text;
  color: rgba($C_text, 0.87);
}

.list {
  font: $F_Text;
  padding: 0;

  .list_item {
    margin-bottom: 0.2rem;
    list-style-type: none;
  }
}
