$C_container: rgba(235, 235, 235, 0.9);
$F_Arial: Arial, sans-serif;

.heading2x1 {
  font-size: 2.5rem;
  font-weight: 600;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.content_container {
  margin-bottom: 2rem;
  background-color: $C_container;
  border-radius: 25px;
  padding: 1.5rem;
  box-shadow: 5px 5px 5px grey;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page_title {
  @extend .heading2x1;
  font-family: $F_Arial;
  text-align: center;
}

.section_tag {
  font-family: cursive, fantasy, serif;
  text-align: center;
}

.sub_heading {
  @extend .section_tag;
  font-size: 1.25rem;
}

.space_inbetween {
  margin-bottom: 0.7rem;
}

.sm_space {
  margin: 0 0.25rem;
}

.sm_font{
  font-size: 0.95rem;
}

.bold {
  font-weight: 500;
}

.list_style {
  list-style: none;

  li {
    padding-bottom: 1rem;
  }

  li::before {
    content: "";
    position: relative;
    top: 5px;
    left: -0.5rem;
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url('../public/images/pokeball.png');
    background-size: 20px 20px;
  }
}

.text {
  font: 1rem Times, serif;
}
